n8n/CreatorIQ — O1 Product Launch Email Sequence.json
{
  "name": "CreatorIQ — O1 Product Launch Email Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-launch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "o1000000-0000-0000-0000-000000000001",
      "name": "Webhook — New Product Launch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "062a4307-6278-548a-8a20-8b933de5a38c",
      "notes": "POST /webhook/product-launch\nBody: { product_name, product_price, product_type, creator_name, creator_niche, launch_date, subscriber_count }\nO1: Predictive Revenue Optimisation ($18K-$20K/year)"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════\n// CreatorIQ — Generate 5-Email Launch Sequence\n// AI-powered email campaign for product launches\n// In production: replace content with Claude API calls\n// Value: 10 hours saved per launch, $18K-$20K/year\n// ══════════════════════════════════════════════\n\nconst b = $input.first().json.body || $input.first().json;\nconst productName    = b.product_name    || 'Your New Course';\nconst productPrice   = b.product_price   || 97;\nconst productType    = b.product_type    || 'course';\nconst creatorName    = b.creator_name    || 'Creator';\nconst creatorNiche   = b.creator_niche   || 'lifestyle';\nconst launchDate     = b.launch_date     || new Date().toISOString().split('T')[0];\nconst subscribers    = b.subscriber_count || 5000;\nconst earlyBirdPrice = Math.round(productPrice * 0.75);\nconst earlyBirdEnd   = new Date(new Date(launchDate).getTime() + 3*24*60*60*1000).toISOString().split('T')[0];\n\nconst emailSequence = [\n  {\n    send_day:    0,\n    email_num:   1,\n    type:        'ANNOUNCEMENT',\n    subject:     `🎉 It's HERE! ${productName} is now live`,\n    preview:     `Early bird pricing ends in 72 hours — save $${productPrice - earlyBirdPrice}`,\n    purpose:     'Launch announcement + early bird offer',\n    key_message: `After months of work, ${productName} is finally here. For the next 72 hours, founding members get it for just $${earlyBirdPrice} (normally $${productPrice}).`,\n    cta:         `Get Early Bird Access — $${earlyBirdPrice}`,\n    urgency:     'HIGH'\n  },\n  {\n    send_day:    2,\n    email_num:   2,\n    type:        'SOCIAL_PROOF',\n    subject:     `💬 What early students are already saying about ${productName}`,\n    preview:     '72 hours in — the results are already coming in',\n    purpose:     'Build trust with early testimonials',\n    key_message: `We've had ${Math.round(subscribers * 0.02)} founding members join in 48 hours. Here's what they're saying...`,\n    cta:         `Join ${Math.round(subscribers * 0.02)} founding members`,\n    urgency:     'MEDIUM'\n  },\n  {\n    send_day:    6,\n    email_num:   3,\n    type:        'VALUE_DEEPDIVE',\n    subject:     `What's actually inside ${productName} (full breakdown)`,\n    preview:     'Module by module — exactly what you get',\n    purpose:     'Overcome objections with full value breakdown',\n    key_message: `Let me show you exactly what you get inside ${productName} and why this is the most comprehensive ${productType} on ${creatorNiche}.`,\n    cta:         `Get Instant Access — $${productPrice}`,\n    urgency:     'LOW'\n  },\n  {\n    send_day:    13,\n    email_num:   4,\n    type:        'TRANSFORMATION',\n    subject:     `Week 1 results from ${productName} students 🙌`,\n    preview:     'Real people, real results in just 7 days',\n    purpose:     'Show transformation stories to re-engage fence-sitters',\n    key_message: `One week in. The results from ${productName} students are blowing my mind. Let me share a few stories with you.`,\n    cta:         `Start Your Transformation`,\n    urgency:     'MEDIUM'\n  },\n  {\n    send_day:    29,\n    email_num:   5,\n    type:        'LAST_CHANCE',\n    subject:     `⏰ Final 24 hours — ${productName} closes tonight`,\n    preview:     'After midnight, the doors close. No exceptions.',\n    purpose:     'Final urgency push to convert last-minute buyers',\n    key_message: `This is your last reminder. Tonight at midnight, ${productName} closes its doors. If you've been on the fence, now is the time.`,\n    cta:         `Grab Your Spot Before Midnight`,\n    urgency:     'CRITICAL'\n  }\n];\n\nreturn emailSequence.map(email => ({\n  json: {\n    ...email,\n    product_name:      productName,\n    product_price:     productPrice,\n    early_bird_price:  earlyBirdPrice,\n    early_bird_end:    earlyBirdEnd,\n    creator_name:      creatorName,\n    creator_niche:     creatorNiche,\n    launch_date:       launchDate,\n    subscriber_count:  subscribers,\n    campaign_id:       `LAUNCH-${new Date().getTime()}`,\n    scheduled_for:     new Date(new Date(launchDate).getTime() + email.send_day*24*60*60*1000).toISOString().split('T')[0],\n    workflow:          'O1 — Product Launch Email Sequence'\n  }\n}));"
      },
      "id": "o1000000-0000-0000-0000-000000000002",
      "name": "Code — Generate 5-Email Sequence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "notes": "Generates full 5-email product launch sequence:\nEmail 1 (Day 0): Launch announcement + early bird\nEmail 2 (Day 2): Social proof\nEmail 3 (Day 6): Value deep dive\nEmail 4 (Day 13): Transformation stories\nEmail 5 (Day 29): Last chance close\nValue: 10 hours saved per launch."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "o1-cond-001",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "o1000000-0000-0000-0000-000000000003",
      "name": "IF — Final Email? (Last Chance)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        304
      ],
      "notes": "TRUE: Email 5 (Last Chance) → send with high priority flag\nFALSE: Emails 1-4 → send with standard priority"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "o1000000-0000-0000-0000-000000000004",
      "name": "Set — High Priority Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        912,
        160
      ],
      "notes": "Marks Email 5 (Last Chance) as URGENT with countdown timer flag."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "o1000000-0000-0000-0000-000000000005",
      "name": "Set — Standard Priority Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        912,
        448
      ],
      "notes": "Marks Emails 1-4 as standard priority."
    },
    {
      "parameters": {},
      "id": "o1000000-0000-0000-0000-000000000006",
      "name": "Merge — All Emails",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        304
      ],
      "notes": "Combines all 5 emails into single scheduled output."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/YOUR-EMAIL-WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "o1000000-0000-0000-0000-000000000007",
      "name": "HTTP Request — Schedule Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "notes": "Sends each email to your email service provider.\nReplace URL with: Mailchimp, ConvertKit, ActiveCampaign webhook.\nRetry 3x with 5s delay."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'SEQUENCE_SCHEDULED', campaign_id: $('Code — Generate 5-Email Sequence').first().json.campaign_id, emails_queued: 5, first_send: $('Code — Generate 5-Email Sequence').first().json.scheduled_for, last_send: $('Code — Generate 5-Email Sequence').last().json.scheduled_for, workflow: 'O1 — Product Launch Email Sequence', hours_saved: 10 }, null, 2) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "o1000000-0000-0000-0000-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1568,
        304
      ],
      "notes": "Returns confirmation to frontend:\n{ status: SEQUENCE_SCHEDULED, emails_queued: 5, hours_saved: 10 }"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — New Product Launch": {
      "main": [
        [
          {
            "node": "Code — Generate 5-Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Generate 5-Email Sequence": {
      "main": [
        [
          {
            "node": "IF — Final Email? (Last Chance)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Final Email? (Last Chance)": {
      "main": [
        [
          {
            "node": "Set — High Priority Flag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Standard Priority Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — High Priority Flag": {
      "main": [
        [
          {
            "node": "Merge — All Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Standard Priority Flag": {
      "main": [
        [
          {
            "node": "Merge — All Emails",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge — All Emails": {
      "main": [
        [
          {
            "node": "HTTP Request — Schedule Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Schedule Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "98b56c2f-45fa-4d85-b7c1-f75b55eb187a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa73719b26c62e350f285e3bc7429645adfd218851873ad4793c11f20d7a9189"
  },
  "id": "04dadb0f",
  "tags": []
}