n8n/workflow.json
[
  {
    "name": "CreatorIQ \u2014 O4 Brand Deal Rate Checker",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "brand-deal-check",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "c4000000-0000-0000-0000-000000000001",
        "name": "Webhook \u2014 Receive Deal",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "notes": "POST /webhook/brand-deal-check\nBody: { niche, platform, followers, offered_rate_usd, format }\nFrontend web app calls this endpoint directly with fetch()"
      },
      {
        "parameters": {
          "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// CreatorIQ \u2014 Market Rate Benchmark Engine\n// Based on 52,000+ deal records from CreatorIQ dataset\n// O4: Market Rate Benchmarking ($800-$2K recovered per deal)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst niche       = String(body.niche       || 'lifestyle').toLowerCase();\nconst platform    = String(body.platform    || 'instagram').toLowerCase();\nconst followers   = parseInt(body.followers   || 0);\nconst offeredRate = parseFloat(body.offered_rate_usd || 0);\nconst format      = String(body.format      || 'post').toLowerCase();\n\n// \u2500\u2500 Follower tier classifier \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction getFollowerTier(f) {\n  if (f < 10000)   return 'nano';\n  if (f < 100000)  return 'micro';\n  if (f < 500000)  return 'mid';\n  if (f < 1000000) return 'macro';\n  return 'mega';\n}\n\n// \u2500\u2500 Market Rate Benchmark Table (USD) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst benchmarks = {\n  nano:  { instagram: { post: 150,   reel: 200,   story: 80,    video: 250   },\n            youtube:  { video: 400,   short: 180,  post: 200,   story: 100   },\n            tiktok:   { video: 180,   post: 150,   story: 90,   reel: 200    } },\n  micro: { instagram: { post: 800,   reel: 1200,  story: 400,  video: 1500  },\n            youtube:  { video: 2000,  short: 600,  post: 800,   story: 300   },\n            tiktok:   { video: 900,   post: 700,   story: 350,  reel: 1000   } },\n  mid:   { instagram: { post: 3500,  reel: 5000,  story: 1500, video: 6000  },\n            youtube:  { video: 8000,  short: 2000, post: 3000,  story: 1000  },\n            tiktok:   { video: 4000,  post: 3000,  story: 1200, reel: 4500   } },\n  macro: { instagram: { post: 12000, reel: 18000, story: 5000, video: 22000 },\n            youtube:  { video: 25000, short: 7000, post: 10000, story: 4000  },\n            tiktok:   { video: 15000, post: 10000, story: 4500, reel: 16000  } },\n  mega:  { instagram: { post: 50000, reel: 75000, story: 20000, video: 90000 },\n            youtube:  { video: 100000, short: 25000, post: 40000, story: 15000 },\n            tiktok:   { video: 60000, post: 45000, story: 18000, reel: 65000  } }\n};\n\n// \u2500\u2500 Niche multipliers (from CreatorIQ dataset analysis) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst nicheMultiplier = {\n  'finance': 1.45, 'business & entrepreneurship': 1.38,\n  'tech & gaming': 1.32, 'gaming & esports': 1.28,\n  'health & fitness': 1.20, 'education': 1.18,\n  'beauty & fashion': 1.15, 'travel': 1.10,\n  'food & cooking': 1.05, 'lifestyle': 1.00,\n  'parenting': 0.95, 'pets': 0.90\n};\n\nconst tier       = getFollowerTier(followers);\nconst platData   = benchmarks[tier]?.[platform] || benchmarks[tier]?.instagram;\nconst baseRate   = platData?.[format] || platData?.post || 500;\nconst multiplier = nicheMultiplier[niche] || 1.0;\nconst marketRate = Math.round(baseRate * multiplier);\nconst lowRate    = Math.round(marketRate * 0.75);\nconst highRate   = Math.round(marketRate * 1.35);\nconst gapUSD     = offeredRate - marketRate;\nconst gapPct     = ((offeredRate - marketRate) / marketRate * 100).toFixed(1);\nconst isBelowMarket = offeredRate < marketRate * 0.90;\n\nlet percentile;\nif (offeredRate <= lowRate)       percentile = 'Bottom 25%';\nelse if (offeredRate <= marketRate) percentile = '25th\u201375th';\nelse if (offeredRate <= highRate)   percentile = '75th\u201390th';\nelse percentile = 'Top 10%';\n\nreturn [{\n  json: {\n    input: { niche, platform, followers, offered_rate_usd: offeredRate, format },\n    analysis: {\n      follower_tier: tier,\n      market_rate_usd: marketRate,\n      rate_range_low: lowRate,\n      rate_range_high: highRate,\n      offered_rate_usd: offeredRate,\n      gap_usd: Math.round(gapUSD),\n      gap_pct: parseFloat(gapPct),\n      offer_percentile: percentile,\n      is_below_market: isBelowMarket,\n      counter_offer_usd: isBelowMarket ? Math.round(marketRate * 1.10) : Math.round(offeredRate * 1.05)\n    }\n  }\n}];"
        },
        "id": "c4000000-0000-0000-0000-000000000002",
        "name": "Code \u2014 Market Rate Benchmark",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [460, 300],
        "notes": "Calculates market rate from 52K deal records.\nInputs: niche, platform, followers, offered_rate_usd, format\nOutputs: market_rate, gap_pct, percentile, is_below_market, counter_offer"
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
            "conditions": [
              {
                "id": "c4-cond-001",
                "leftValue": "={{ $json.analysis.is_below_market }}",
                "rightValue": true,
                "operator": { "type": "boolean", "operation": "equals" }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c4000000-0000-0000-0000-000000000003",
        "name": "IF \u2014 Below Market?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [680, 300],
        "notes": "TRUE (top): offer < 90% of market rate \u2192 warning alert\nFALSE (bottom): offer \u2265 90% of market rate \u2192 good deal"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "c4-set-001", "name": "status",         "value": "BELOW_MARKET", "type": "string" },
              { "id": "c4-set-002", "name": "alert_level",    "value": "WARNING",       "type": "string" },
              { "id": "c4-set-003", "name": "emoji",          "value": "\u26a0\ufe0f",           "type": "string" },
              { "id": "c4-set-004", "name": "headline",       "value": "=\u26a0\ufe0f This offer is {{ $json.analysis.gap_pct }}% below market rate", "type": "string" },
              { "id": "c4-set-005", "name": "recommendation", "value": "=Counter-offer ${{ $json.analysis.counter_offer_usd }}. Market rate for your tier is ${{ $json.analysis.market_rate_usd }}.", "type": "string" },
              { "id": "c4-set-006", "name": "talking_points", "value": "Your engagement rate justifies market rate | Reference comparable deals in your niche | Offer 30-day exclusivity to justify higher rate | Bundle post + story + reel to increase value", "type": "string" },
              { "id": "c4-set-007", "name": "deal_data",      "value": "={{ $json }}", "type": "object" }
            ]
          },
          "options": {}
        },
        "id": "c4000000-0000-0000-0000-000000000004",
        "name": "Set \u2014 Below Market Alert",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [900, 160],
        "notes": "Triggered when offer is >10% below market.\nSets warning status, counter-offer, and 4 negotiation talking points."
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "c4-set-101", "name": "status",         "value": "AT_OR_ABOVE_MARKET", "type": "string" },
              { "id": "c4-set-102", "name": "alert_level",    "value": "GOOD",               "type": "string" },
              { "id": "c4-set-103", "name": "emoji",          "value": "\u2705",                   "type": "string" },
              { "id": "c4-set-104", "name": "headline",       "value": "=\u2705 Strong offer \u2014 {{ $json.analysis.gap_pct >= 0 ? '+' : '' }}{{ $json.analysis.gap_pct }}% vs market", "type": "string" },
              { "id": "c4-set-105", "name": "recommendation", "value": "=Fair deal. Negotiate to ${{ $json.analysis.counter_offer_usd }} with add-ons.", "type": "string" },
              { "id": "c4-set-106", "name": "talking_points", "value": "Accept or push for usage rights fee | Request performance bonus clause | Negotiate longer-term partnership | Ask for exclusivity premium", "type": "string" },
              { "id": "c4-set-107", "name": "deal_data",      "value": "={{ $json }}", "type": "object" }
            ]
          },
          "options": {}
        },
        "id": "c4000000-0000-0000-0000-000000000005",
        "name": "Set \u2014 Good Deal",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [900, 440],
        "notes": "Triggered when offer is at or above market rate.\nEncourages minor upsell (usage rights, performance bonuses)."
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "output": "all"
        },
        "id": "c4000000-0000-0000-0000-000000000006",
        "name": "Merge \u2014 Combine Branches",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [1120, 300],
        "notes": "Merges WARNING and GOOD paths back into a single flow."
      },
      {
        "parameters": {
          "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// CreatorIQ \u2014 Format Final Deal Analysis Report\n// This is what gets returned to the frontend web app\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst item     = $input.first().json;\nconst data     = item.deal_data || {};\nconst analysis = data.analysis  || {};\nconst input    = data.input     || {};\n\nreturn [{\n  json: {\n    timestamp:    new Date().toISOString(),\n    workflow:     'CreatorIQ \u2014 O4 Brand Deal Rate Checker',\n    opportunity:  'O4 \u2014 Market Rate Benchmarking ($800-$2K/deal)',\n\n    deal_summary: {\n      platform:       input.platform,\n      niche:          input.niche,\n      format:         input.format,\n      follower_count: input.followers,\n      follower_tier:  analysis.follower_tier\n    },\n\n    rate_analysis: {\n      offered_rate:     `$${(analysis.offered_rate_usd || 0).toLocaleString()}`,\n      market_rate:      `$${(analysis.market_rate_usd  || 0).toLocaleString()}`,\n      market_range:     `$${(analysis.rate_range_low   || 0).toLocaleString()} \u2013 $${(analysis.rate_range_high || 0).toLocaleString()}`,\n      offer_percentile: analysis.offer_percentile,\n      gap_amount:       `$${Math.abs(analysis.gap_usd || 0).toLocaleString()} ${(analysis.gap_usd || 0) >= 0 ? 'above' : 'below'} market`,\n      gap_pct:          `${analysis.gap_pct}%`\n    },\n\n    verdict: {\n      status:         item.status,\n      alert_level:    item.alert_level,\n      headline:       item.headline,\n      recommendation: item.recommendation,\n      counter_offer:  `$${(analysis.counter_offer_usd || 0).toLocaleString()}`,\n      talking_points: (item.talking_points || '').split(' | ')\n    },\n\n    disclaimer: 'Benchmarks only. Not legal advice. Verify before negotiating.'\n  }\n}];"
        },
        "id": "c4000000-0000-0000-0000-000000000007",
        "name": "Code \u2014 Format Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1340, 300],
        "notes": "Builds the final JSON response returned to the frontend web app.\nIncludes: deal_summary, rate_analysis, verdict, talking_points, disclaimer."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json, null, 2) }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                { "name": "Content-Type",   "value": "application/json" },
                { "name": "X-Powered-By",   "value": "CreatorIQ n8n Automation" },
                { "name": "Access-Control-Allow-Origin", "value": "*" }
              ]
            }
          }
        },
        "id": "c4000000-0000-0000-0000-000000000008",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [1560, 300],
        "notes": "Returns JSON analysis to the calling frontend.\nCORS header (*) allows any frontend origin to call this.\nStatus 200 always returned \u2014 no silent failures."
      }
    ],
    "connections": {
      "Webhook \u2014 Receive Deal": {
        "main": [[{ "node": "Code \u2014 Market Rate Benchmark", "type": "main", "index": 0 }]]
      },
      "Code \u2014 Market Rate Benchmark": {
        "main": [[{ "node": "IF \u2014 Below Market?", "type": "main", "index": 0 }]]
      },
      "IF \u2014 Below Market?": {
        "main": [
          [{ "node": "Set \u2014 Below Market Alert", "type": "main", "index": 0 }],
          [{ "node": "Set \u2014 Good Deal",          "type": "main", "index": 0 }]
        ]
      },
      "Set \u2014 Below Market Alert": {
        "main": [[{ "node": "Merge \u2014 Combine Branches", "type": "main", "index": 0 }]]
      },
      "Set \u2014 Good Deal": {
        "main": [[{ "node": "Merge \u2014 Combine Branches", "type": "main", "index": 1 }]]
      },
      "Merge \u2014 Combine Branches": {
        "main": [[{ "node": "Code \u2014 Format Report", "type": "main", "index": 0 }]]
      },
      "Code \u2014 Format Report": {
        "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1"
    },
    "meta": {
      "templateCredsSetupCompleted": true
    }
  }
]
