n8n/workflow_O1_product_launch_sequence.json
[
  {
    "name": "CreatorIQ \u2014 O1 Product Launch Email Sequence",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "product-launch",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "o1000000-0000-0000-0000-000000000001",
        "name": "Webhook \u2014 New Product Launch",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "notes": "POST /webhook/product-launch\nBody: { product_name, product_price, product_type, creator_name, creator_niche, launch_date, subscriber_count }\nO1: Predictive Revenue Optimisation ($18K-$20K/year)"
      },
      {
        "parameters": {
          "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// CreatorIQ \u2014 Generate 5-Email Launch Sequence\n// AI-powered email campaign for product launches\n// In production: replace content with Claude API calls\n// Value: 10 hours saved per launch, $18K-$20K/year\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst b = $input.first().json.body || $input.first().json;\nconst productName    = b.product_name    || 'Your New Course';\nconst productPrice   = b.product_price   || 97;\nconst productType    = b.product_type    || 'course';\nconst creatorName    = b.creator_name    || 'Creator';\nconst creatorNiche   = b.creator_niche   || 'lifestyle';\nconst launchDate     = b.launch_date     || new Date().toISOString().split('T')[0];\nconst subscribers    = b.subscriber_count || 5000;\nconst earlyBirdPrice = Math.round(productPrice * 0.75);\nconst earlyBirdEnd   = new Date(new Date(launchDate).getTime() + 3*24*60*60*1000).toISOString().split('T')[0];\n\nconst emailSequence = [\n  {\n    send_day:    0,\n    email_num:   1,\n    type:        'ANNOUNCEMENT',\n    subject:     `\ud83c\udf89 It's HERE! ${productName} is now live`,\n    preview:     `Early bird pricing ends in 72 hours \u2014 save $${productPrice - earlyBirdPrice}`,\n    purpose:     'Launch announcement + early bird offer',\n    key_message: `After months of work, ${productName} is finally here. For the next 72 hours, founding members get it for just $${earlyBirdPrice} (normally $${productPrice}).`,\n    cta:         `Get Early Bird Access \u2014 $${earlyBirdPrice}`,\n    urgency:     'HIGH'\n  },\n  {\n    send_day:    2,\n    email_num:   2,\n    type:        'SOCIAL_PROOF',\n    subject:     `\ud83d\udcac What early students are already saying about ${productName}`,\n    preview:     '72 hours in \u2014 the results are already coming in',\n    purpose:     'Build trust with early testimonials',\n    key_message: `We've had ${Math.round(subscribers * 0.02)} founding members join in 48 hours. Here's what they're saying...`,\n    cta:         `Join ${Math.round(subscribers * 0.02)} founding members`,\n    urgency:     'MEDIUM'\n  },\n  {\n    send_day:    6,\n    email_num:   3,\n    type:        'VALUE_DEEPDIVE',\n    subject:     `What's actually inside ${productName} (full breakdown)`,\n    preview:     'Module by module \u2014 exactly what you get',\n    purpose:     'Overcome objections with full value breakdown',\n    key_message: `Let me show you exactly what you get inside ${productName} and why this is the most comprehensive ${productType} on ${creatorNiche}.`,\n    cta:         `Get Instant Access \u2014 $${productPrice}`,\n    urgency:     'LOW'\n  },\n  {\n    send_day:    13,\n    email_num:   4,\n    type:        'TRANSFORMATION',\n    subject:     `Week 1 results from ${productName} students \ud83d\ude4c`,\n    preview:     'Real people, real results in just 7 days',\n    purpose:     'Show transformation stories to re-engage fence-sitters',\n    key_message: `One week in. The results from ${productName} students are blowing my mind. Let me share a few stories with you.`,\n    cta:         `Start Your Transformation`,\n    urgency:     'MEDIUM'\n  },\n  {\n    send_day:    29,\n    email_num:   5,\n    type:        'LAST_CHANCE',\n    subject:     `\u23f0 Final 24 hours \u2014 ${productName} closes tonight`,\n    preview:     'After midnight, the doors close. No exceptions.',\n    purpose:     'Final urgency push to convert last-minute buyers',\n    key_message: `This is your last reminder. Tonight at midnight, ${productName} closes its doors. If you've been on the fence, now is the time.`,\n    cta:         `Grab Your Spot Before Midnight`,\n    urgency:     'CRITICAL'\n  }\n];\n\nreturn emailSequence.map(email => ({\n  json: {\n    ...email,\n    product_name:      productName,\n    product_price:     productPrice,\n    early_bird_price:  earlyBirdPrice,\n    early_bird_end:    earlyBirdEnd,\n    creator_name:      creatorName,\n    creator_niche:     creatorNiche,\n    launch_date:       launchDate,\n    subscriber_count:  subscribers,\n    campaign_id:       `LAUNCH-${new Date().getTime()}`,\n    scheduled_for:     new Date(new Date(launchDate).getTime() + email.send_day*24*60*60*1000).toISOString().split('T')[0],\n    workflow:          'O1 \u2014 Product Launch Email Sequence'\n  }\n}));"
        },
        "id": "o1000000-0000-0000-0000-000000000002",
        "name": "Code \u2014 Generate 5-Email Sequence",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [460, 300],
        "notes": "Generates full 5-email product launch sequence:\nEmail 1 (Day 0): Launch announcement + early bird\nEmail 2 (Day 2): Social proof\nEmail 3 (Day 6): Value deep dive\nEmail 4 (Day 13): Transformation stories\nEmail 5 (Day 29): Last chance close\nValue: 10 hours saved per launch."
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
            "conditions": [
              {
                "id": "o1-cond-001",
                "leftValue": "={{ $json.urgency }}",
                "rightValue": "CRITICAL",
                "operator": { "type": "string", "operation": "equals" }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "o1000000-0000-0000-0000-000000000003",
        "name": "IF \u2014 Final Email? (Last Chance)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [680, 300],
        "notes": "TRUE: Email 5 (Last Chance) \u2192 send with high priority flag\nFALSE: Emails 1-4 \u2192 send with standard priority"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o1-set-001", "name": "priority",    "value": "URGENT",                             "type": "string" },
              { "id": "o1-set-002", "name": "send_flags",  "value": "last_chance=true|add_countdown=true", "type": "string" },
              { "id": "o1-set-003", "name": "email_ready", "value": "={{ $json }}",                        "type": "object" }
            ]
          },
          "options": {}
        },
        "id": "o1000000-0000-0000-0000-000000000004",
        "name": "Set \u2014 High Priority Flag",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [900, 160],
        "notes": "Marks Email 5 (Last Chance) as URGENT with countdown timer flag."
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o1-set-101", "name": "priority",    "value": "STANDARD", "type": "string" },
              { "id": "o1-set-102", "name": "send_flags",  "value": "standard",  "type": "string" },
              { "id": "o1-set-103", "name": "email_ready", "value": "={{ $json }}", "type": "object" }
            ]
          },
          "options": {}
        },
        "id": "o1000000-0000-0000-0000-000000000005",
        "name": "Set \u2014 Standard Priority Flag",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [900, 440],
        "notes": "Marks Emails 1-4 as standard priority."
      },
      {
        "parameters": {
          "mode": "append"
        },
        "id": "o1000000-0000-0000-0000-000000000006",
        "name": "Merge \u2014 All Emails",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [1120, 300],
        "notes": "Combines all 5 emails into single scheduled output."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://webhook.site/YOUR-EMAIL-WEBHOOK",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json, null, 2) }}",
          "options": {}
        },
        "id": "o1000000-0000-0000-0000-000000000007",
        "name": "HTTP Request \u2014 Schedule Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1340, 300],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueErrorOutput",
        "notes": "Sends each email to your email service provider.\nReplace URL with: Mailchimp, ConvertKit, ActiveCampaign webhook.\nRetry 3x with 5s delay."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'SEQUENCE_SCHEDULED', campaign_id: $('Code \u2014 Generate 5-Email Sequence').first().json.campaign_id, emails_queued: 5, first_send: $('Code \u2014 Generate 5-Email Sequence').first().json.scheduled_for, last_send: $('Code \u2014 Generate 5-Email Sequence').last().json.scheduled_for, workflow: 'O1 \u2014 Product Launch Email Sequence', hours_saved: 10 }, null, 2) }}",
          "options": { "responseCode": 200 }
        },
        "id": "o1000000-0000-0000-0000-000000000008",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [1560, 300],
        "notes": "Returns confirmation to frontend:\n{ status: SEQUENCE_SCHEDULED, emails_queued: 5, hours_saved: 10 }"
      }
    ],
    "connections": {
      "Webhook \u2014 New Product Launch": {
        "main": [[{ "node": "Code \u2014 Generate 5-Email Sequence", "type": "main", "index": 0 }]]
      },
      "Code \u2014 Generate 5-Email Sequence": {
        "main": [[{ "node": "IF \u2014 Final Email? (Last Chance)", "type": "main", "index": 0 }]]
      },
      "IF \u2014 Final Email? (Last Chance)": {
        "main": [
          [{ "node": "Set \u2014 High Priority Flag",    "type": "main", "index": 0 }],
          [{ "node": "Set \u2014 Standard Priority Flag", "type": "main", "index": 0 }]
        ]
      },
      "Set \u2014 High Priority Flag": {
        "main": [[{ "node": "Merge \u2014 All Emails", "type": "main", "index": 0 }]]
      },
      "Set \u2014 Standard Priority Flag": {
        "main": [[{ "node": "Merge \u2014 All Emails", "type": "main", "index": 1 }]]
      },
      "Merge \u2014 All Emails": {
        "main": [[{ "node": "HTTP Request \u2014 Schedule Email", "type": "main", "index": 0 }]]
      },
      "HTTP Request \u2014 Schedule Email": {
        "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1"
    },
    "meta": { "templateCredsSetupCompleted": true }
  }
]
