n8n/workflow_O5_checkout_recovery.json
[
  {
    "name": "CreatorIQ \u2014 O5 Abandoned Checkout Recovery",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "checkout-abandoned",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "o5000000-0000-0000-0000-000000000001",
        "name": "Webhook \u2014 Checkout Abandoned",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "notes": "POST /webhook/checkout-abandoned\nBody: { customer_email, product_name, product_price, cart_value, creator_name, creator_niche }\nO5: Content-to-Commerce Attribution (20-35% revenue increase)"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o5-set-001", "name": "customer_email",  "value": "={{ $json.body.customer_email }}",  "type": "string" },
              { "id": "o5-set-002", "name": "product_name",    "value": "={{ $json.body.product_name }}",    "type": "string" },
              { "id": "o5-set-003", "name": "product_price",   "value": "={{ $json.body.product_price }}",   "type": "number" },
              { "id": "o5-set-004", "name": "cart_value",      "value": "={{ $json.body.cart_value }}",      "type": "number" },
              { "id": "o5-set-005", "name": "creator_name",    "value": "={{ $json.body.creator_name }}",    "type": "string" },
              { "id": "o5-set-006", "name": "creator_niche",   "value": "={{ $json.body.creator_niche }}",   "type": "string" },
              { "id": "o5-set-007", "name": "abandoned_at",    "value": "={{ $now.toISO() }}",               "type": "string" },
              { "id": "o5-set-008", "name": "recovery_id",     "value": "=RCVR-{{ $now.toMillis() }}",       "type": "string" }
            ]
          },
          "options": {}
        },
        "id": "o5000000-0000-0000-0000-000000000002",
        "name": "Set \u2014 Extract Checkout Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [460, 300],
        "notes": "Extracts and structures checkout abandonment data.\nGenerates unique recovery_id for tracking."
      },
      {
        "parameters": {
          "amount": 60,
          "unit": "minutes"
        },
        "id": "o5000000-0000-0000-0000-000000000003",
        "name": "Wait \u2014 1 Hour",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [680, 300],
        "notes": "Waits 1 hour before sending recovery email.\nThis is the optimal abandoned cart recovery window.\nFor demo/testing: change to seconds."
      },
      {
        "parameters": {
          "jsCode": "// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// CreatorIQ \u2014 Generate Recovery Email Content\n// AI-crafted personalised recovery email\n// In production: call Claude API for dynamic generation\n// For POC: uses template logic\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nconst d = $input.first().json;\nconst discountPct = 10;\nconst discountAmt = Math.round(d.cart_value * discountPct / 100);\nconst finalPrice  = d.cart_value - discountAmt;\n\nconst email = {\n  to:       d.customer_email,\n  subject:  `\ud83d\uded2 You left something behind \u2014 ${d.product_name}`,\n  preview:  `Complete your purchase and save $${discountAmt} today only`,\n\n  html_body: `\n    <h2>Hey there!</h2>\n    <p>You were so close! Your cart from <strong>${d.creator_name}</strong> is waiting.</p>\n    <p>You left behind: <strong>${d.product_name}</strong></p>\n    <p>For the next 24 hours, use this exclusive code to save ${discountPct}%:</p>\n    <h3 style=\"color:#e74c3c\">COMEBACK${discountPct}</h3>\n    <p>Original price: $${d.cart_value} \u2192 <strong>Your price: $${finalPrice}</strong></p>\n    <p>This offer expires in 24 hours.</p>\n    <p>Warm regards,<br/>${d.creator_name}</p>\n  `,\n\n  metadata: {\n    recovery_id:   d.recovery_id,\n    discount_code: `COMEBACK${discountPct}`,\n    discount_amt:  discountAmt,\n    final_price:   finalPrice,\n    expires_at:    new Date(Date.now() + 24*60*60*1000).toISOString(),\n    workflow:      'O5 \u2014 Abandoned Checkout Recovery',\n    estimated_recovery_value: finalPrice\n  }\n};\n\nreturn [{ json: { ...d, email } }];"
        },
        "id": "o5000000-0000-0000-0000-000000000004",
        "name": "Code \u2014 Generate Recovery Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [900, 300],
        "notes": "Generates personalised recovery email with 10% discount.\nProduction: replace with Claude API call for dynamic AI copy.\nValue: $3,492/launch recovered on average."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://webhook.site/YOUR-EMAIL-WEBHOOK",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.email, null, 2) }}",
          "options": {}
        },
        "id": "o5000000-0000-0000-0000-000000000005",
        "name": "HTTP Request \u2014 Send Recovery Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1120, 180],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueErrorOutput",
        "notes": "Sends recovery email via webhook/email service.\nReplace URL with: Mailgun, SendGrid, or SMTP webhook.\nRetry 3x with 5s delay (matches lab error handling pattern)."
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o5-err-001", "name": "error_message",  "value": "={{ $json.error?.message ?? 'Email delivery failed' }}", "type": "string" },
              { "id": "o5-err-002", "name": "failed_node",    "value": "={{ $json.error?.node?.name ?? 'Send Recovery Email' }}", "type": "string" },
              { "id": "o5-err-003", "name": "timestamp",      "value": "={{ $now.toISO() }}",                                    "type": "string" },
              { "id": "o5-err-004", "name": "workflow_name",  "value": "O5 Abandoned Checkout Recovery",                         "type": "string" }
            ]
          },
          "options": {}
        },
        "id": "o5000000-0000-0000-0000-000000000006",
        "name": "Set \u2014 Format Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [1120, 440],
        "notes": "Captures email delivery errors.\nMatches lab error handling pattern from n8n_lab_workflows.json."
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o5-ok-001", "name": "status",          "value": "RECOVERY_EMAIL_SENT",                           "type": "string" },
              { "id": "o5-ok-002", "name": "recovery_id",     "value": "={{ $('Code \u2014 Generate Recovery Email').item.json.recovery_id }}", "type": "string" },
              { "id": "o5-ok-003", "name": "discount_code",   "value": "={{ $('Code \u2014 Generate Recovery Email').item.json.email.metadata.discount_code }}", "type": "string" },
              { "id": "o5-ok-004", "name": "estimated_value", "value": "={{ $('Code \u2014 Generate Recovery Email').item.json.email.metadata.estimated_recovery_value }}", "type": "number" },
              { "id": "o5-ok-005", "name": "sent_at",         "value": "={{ $now.toISO() }}",                           "type": "string" },
              { "id": "o5-ok-006", "name": "message",         "value": "Recovery email sent successfully",              "type": "string" }
            ]
          },
          "options": {}
        },
        "id": "o5000000-0000-0000-0000-000000000007",
        "name": "Set \u2014 Success Confirmation",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [1340, 180],
        "notes": "Formats success response with recovery tracking info."
      }
    ],
    "connections": {
      "Webhook \u2014 Checkout Abandoned": {
        "main": [[{ "node": "Set \u2014 Extract Checkout Data", "type": "main", "index": 0 }]]
      },
      "Set \u2014 Extract Checkout Data": {
        "main": [[{ "node": "Wait \u2014 1 Hour", "type": "main", "index": 0 }]]
      },
      "Wait \u2014 1 Hour": {
        "main": [[{ "node": "Code \u2014 Generate Recovery Email", "type": "main", "index": 0 }]]
      },
      "Code \u2014 Generate Recovery Email": {
        "main": [[{ "node": "HTTP Request \u2014 Send Recovery Email", "type": "main", "index": 0 }]]
      },
      "HTTP Request \u2014 Send Recovery Email": {
        "main":  [[{ "node": "Set \u2014 Success Confirmation", "type": "main", "index": 0 }]],
        "error": [[{ "node": "Set \u2014 Format Error",          "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1"
    },
    "meta": { "templateCredsSetupCompleted": true }
  }
]
