n8n/workflow_O3_contract_analysis.json
[
  {
    "name": "CreatorIQ — O3 RAG Contract Analysis",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "analyse-contract",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "o3000000-0000-0000-0000-000000000001",
        "name": "Webhook — Analyse Contract",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "notes": "POST /webhook/analyse-contract\nBody: { contract_text, creator_name, creator_niche, deal_value, brand_name }\nO3: RAG Contract Red-Flag Detection ($5,200/year saved in bad deals)"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o3-set-001", "name": "contract_text",  "value": "={{ $json.body.contract_text }}",  "type": "string" },
              { "id": "o3-set-002", "name": "creator_name",   "value": "={{ $json.body.creator_name }}",   "type": "string" },
              { "id": "o3-set-003", "name": "creator_niche",  "value": "={{ $json.body.creator_niche }}",  "type": "string" },
              { "id": "o3-set-004", "name": "deal_value",     "value": "={{ $json.body.deal_value }}",     "type": "number" },
              { "id": "o3-set-005", "name": "brand_name",     "value": "={{ $json.body.brand_name }}",     "type": "string" },
              { "id": "o3-set-006", "name": "analysis_id",    "value": "=CTRCT-{{ $now.toMillis() }}",     "type": "string" },
              { "id": "o3-set-007", "name": "submitted_at",   "value": "={{ $now.toISO() }}",              "type": "string" }
            ]
          },
          "options": {}
        },
        "id": "o3000000-0000-0000-0000-000000000002",
        "name": "Set — Extract Contract Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [460, 300],
        "notes": "Extracts and structures contract submission data.\nGenerates unique analysis_id for tracking."
      },
      {
        "parameters": {
          "jsCode": "// ══════════════════════════════════════════════════════\n// CreatorIQ — RAG Contract Red-Flag Analysis\n// Simulates AI-powered contract clause detection\n// In production: embed contract → query ChromaDB RAG →\n//   retrieve FTC guidelines + past contracts → Claude analysis\n// Value: catches bad clauses worth avg $5,200/year in bad deals\n// ══════════════════════════════════════════════════════\n\nconst d = $input.first().json;\nconst contractText = (d.contract_text || '').toLowerCase();\nconst dealValue    = d.deal_value || 0;\nconst creatorNiche = (d.creator_niche || 'lifestyle').toLowerCase();\n\n// ── Red-flag clause library (RAG knowledge base simulation) ──\nconst RED_FLAG_PATTERNS = [\n  {\n    id:          'RF-001',\n    pattern:     'exclusivity',\n    severity:    'HIGH',\n    clause_type: 'Exclusivity',\n    description: 'Broad exclusivity clause detected — may block other brand deals',\n    ftc_ref:     'FTC §5 — Unfair or deceptive acts',\n    recommendation: 'Negotiate exclusivity to specific product category and 30-day max window',\n    estimated_cost: Math.round(dealValue * 0.30)\n  },\n  {\n    id:          'RF-002',\n    pattern:     'perpetual license',\n    severity:    'CRITICAL',\n    clause_type: 'IP / Content Rights',\n    description: 'Perpetual content license — brand owns your content forever',\n    ftc_ref:     'FTC Endorsement Guides 16 CFR Part 255',\n    recommendation: 'Limit license to 12 months or campaign duration. Retain full IP ownership.',\n    estimated_cost: Math.round(dealValue * 0.50)\n  },\n  {\n    id:          'RF-003',\n    pattern:     'unlimited revisions',\n    severity:    'MEDIUM',\n    clause_type: 'Scope of Work',\n    description: 'Unlimited revision requests — time value risk',\n    ftc_ref:     null,\n    recommendation: 'Cap at 2 revision rounds. Additional revisions billed at $150/hour.',\n    estimated_cost: Math.round(dealValue * 0.10)\n  },\n  {\n    id:          'RF-004',\n    pattern:     'morality clause',\n    severity:    'MEDIUM',\n    clause_type: 'Termination',\n    description: 'Broad morality/conduct clause — subjective termination risk',\n    ftc_ref:     null,\n    recommendation: 'Define specific conduct standards. Mutual morality clause applies to brand too.',\n    estimated_cost: dealValue\n  },\n  {\n    id:          'RF-005',\n    pattern:     'non-disparagement',\n    severity:    'HIGH',\n    clause_type: 'Free Speech',\n    description: 'Non-disparagement clause may restrict honest audience reviews',\n    ftc_ref:     'FTC Endorsement Guides — Material connections must be disclosed',\n    recommendation: 'Remove or limit to defamation standard. Honest opinions are legally protected.',\n    estimated_cost: Math.round(dealValue * 0.20)\n  },\n  {\n    id:          'RF-006',\n    pattern:     'late payment',\n    severity:    'LOW',\n    clause_type: 'Payment Terms',\n    description: 'No late payment penalty clause — payment delays unprotected',\n    ftc_ref:     null,\n    recommendation: 'Add 1.5%/month interest on invoices unpaid beyond 30 days.',\n    estimated_cost: Math.round(dealValue * 0.05)\n  },\n  {\n    id:          'RF-007',\n    pattern:     'governing law',\n    severity:    'MEDIUM',\n    clause_type: 'Jurisdiction',\n    description: 'Governing law set to brand\\'s jurisdiction — may disadvantage creator',\n    ftc_ref:     null,\n    recommendation: 'Negotiate for creator\\'s home state jurisdiction or neutral arbitration.',\n    estimated_cost: Math.round(dealValue * 0.08)\n  }\n];\n\n// ── FTC disclosure requirements by niche ──\nconst FTC_REQUIREMENTS = {\n  finance:    { disclosure: 'REQUIRED — Financial products require full FTC §205 disclosure', risk: 'HIGH' },\n  health:     { disclosure: 'REQUIRED — Health claims require substantiation per FTC Act', risk: 'HIGH' },\n  fitness:    { disclosure: 'REQUIRED — Health/fitness claims require substantiation', risk: 'HIGH' },\n  tech:       { disclosure: 'STANDARD — #ad or #sponsored disclosure required', risk: 'MEDIUM' },\n  lifestyle:  { disclosure: 'STANDARD — #ad or #sponsored disclosure required', risk: 'LOW' },\n  gaming:     { disclosure: 'STANDARD — #ad or #sponsored disclosure required', risk: 'LOW' },\n  business:   { disclosure: 'STANDARD — Business opportunity disclosures may apply', risk: 'MEDIUM' }\n};\n\nconst ftcNiche = FTC_REQUIREMENTS[creatorNiche] || FTC_REQUIREMENTS.lifestyle;\n\n// ── Scan contract text for red flags ──\nconst detected = RED_FLAG_PATTERNS.filter(rf =>\n  contractText.includes(rf.pattern)\n);\n\nconst criticalFlags = detected.filter(f => f.severity === 'CRITICAL');\nconst highFlags     = detected.filter(f => f.severity === 'HIGH');\nconst mediumFlags   = detected.filter(f => f.severity === 'MEDIUM');\nconst lowFlags      = detected.filter(f => f.severity === 'LOW');\n\nconst totalRisk = detected.reduce((sum, f) => sum + (f.estimated_cost || 0), 0);\n\n// ── Contract health score (100 = clean, 0 = dangerous) ──\nconst penaltyMap = { CRITICAL: 35, HIGH: 20, MEDIUM: 10, LOW: 5 };\nconst penalty    = detected.reduce((sum, f) => sum + (penaltyMap[f.severity] || 0), 0);\nconst healthScore = Math.max(0, 100 - penalty);\n\nlet verdict = 'PASS';\nif (healthScore < 40)  verdict = 'REJECT';\nelse if (healthScore < 70) verdict = 'NEGOTIATE';\n\n// ── Build full analysis report ──\nconst analysis = {\n  analysis_id:    d.analysis_id,\n  creator_name:   d.creator_name,\n  brand_name:     d.brand_name,\n  deal_value:     dealValue,\n  submitted_at:   d.submitted_at,\n\n  contract_health: {\n    score:         healthScore,\n    verdict:       verdict,\n    risk_summary:  `${detected.length} red flags detected (${criticalFlags.length} critical, ${highFlags.length} high, ${mediumFlags.length} medium, ${lowFlags.length} low)`,\n    total_risk_exposure: totalRisk\n  },\n\n  ftc_compliance: {\n    niche:       creatorNiche,\n    requirement: ftcNiche.disclosure,\n    risk_level:  ftcNiche.risk,\n    action:      'Add FTC-compliant disclosure to all sponsored content'\n  },\n\n  red_flags: detected,\n\n  top_priority: detected.length > 0\n    ? detected.sort((a,b) => {\n        const order = { CRITICAL: 0, HIGH: 1, MEDIUM: 2, LOW: 3 };\n        return order[a.severity] - order[b.severity];\n      })[0]\n    : null,\n\n  recommendations: detected.map(f => `[${f.severity}] ${f.clause_type}: ${f.recommendation}`),\n\n  estimated_value_protected: totalRisk,\n\n  workflow: 'O3 — RAG Contract Analysis',\n  rag_note: 'Production: embed contract → ChromaDB semantic search → retrieve FTC docs + past contracts → Claude-3.5 analysis'\n};\n\nreturn [{ json: { ...d, analysis } }];"
        },
        "id": "o3000000-0000-0000-0000-000000000003",
        "name": "Code — Analyse Contract (RAG Simulation)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [680, 300],
        "notes": "Simulates RAG contract analysis:\n1. Scans contract text for 7 red-flag patterns\n2. Applies FTC compliance check by creator niche\n3. Calculates contract health score (0-100)\n4. Returns verdict: PASS / NEGOTIATE / REJECT\nProduction: ChromaDB RAG + Claude API replaces pattern matching.\nValue: $5,200/year in avoided bad deals."
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
            "conditions": [
              {
                "id": "o3-cond-001",
                "leftValue": "={{ $json.analysis.contract_health.verdict }}",
                "rightValue": "REJECT",
                "operator": { "type": "string", "operation": "equals" }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "o3000000-0000-0000-0000-000000000004",
        "name": "IF — Reject Contract?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [900, 300],
        "notes": "TRUE: REJECT verdict (score < 40) → send urgent alert\nFALSE: PASS or NEGOTIATE → send standard review report"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o3-alert-001", "name": "alert_level",   "value": "URGENT",                                                                  "type": "string" },
              { "id": "o3-alert-002", "name": "alert_message", "value": "={{ '⛔ REJECT: ' + $json.brand_name + ' contract is HIGH RISK (score: ' + $json.analysis.contract_health.score + '/100). DO NOT SIGN.' }}", "type": "string" },
              { "id": "o3-alert-003", "name": "action_needed", "value": "Legal review required before proceeding",                                  "type": "string" },
              { "id": "o3-alert-004", "name": "report",        "value": "={{ $json.analysis }}",                                                    "type": "object" }
            ]
          },
          "options": {}
        },
        "id": "o3000000-0000-0000-0000-000000000005",
        "name": "Set — Urgent Reject Alert",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [1120, 160],
        "notes": "Flags contract as DO NOT SIGN.\nHealth score < 40 with critical/high red flags.\nTriggers urgent creator notification."
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              { "id": "o3-ok-001", "name": "alert_level",   "value": "={{ $json.analysis.contract_health.verdict === 'NEGOTIATE' ? 'REVIEW' : 'CLEAR' }}", "type": "string" },
              { "id": "o3-ok-002", "name": "alert_message", "value": "={{ $json.analysis.contract_health.verdict === 'NEGOTIATE' ? '⚠️ NEGOTIATE: ' + $json.analysis.contract_health.risk_summary : '✅ PASS: Contract looks clean. Proceed with standard review.' }}", "type": "string" },
              { "id": "o3-ok-003", "name": "action_needed", "value": "={{ $json.analysis.contract_health.verdict === 'NEGOTIATE' ? 'Request clause amendments before signing' : 'Standard creator review recommended' }}", "type": "string" },
              { "id": "o3-ok-004", "name": "report",        "value": "={{ $json.analysis }}", "type": "object" }
            ]
          },
          "options": {}
        },
        "id": "o3000000-0000-0000-0000-000000000006",
        "name": "Set — Review / Pass Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [1120, 440],
        "notes": "NEGOTIATE (score 40-69): Flags clauses needing amendment.\nPASS (score 70-100): Clean contract confirmation."
      },
      {
        "parameters": {
          "mode": "append"
        },
        "id": "o3000000-0000-0000-0000-000000000007",
        "name": "Merge — All Results",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [1340, 300],
        "notes": "Combines REJECT and PASS/NEGOTIATE paths into single output."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: 'ANALYSIS_COMPLETE', analysis_id: $json.report.analysis_id, verdict: $json.report.contract_health.verdict, health_score: $json.report.contract_health.score, risk_summary: $json.report.contract_health.risk_summary, total_risk_exposure: $json.report.contract_health.total_risk_exposure, alert_level: $json.alert_level, alert_message: $json.alert_message, action_needed: $json.action_needed, red_flags: $json.report.red_flags, recommendations: $json.report.recommendations, ftc_compliance: $json.report.ftc_compliance, estimated_value_protected: $json.report.estimated_value_protected, workflow: 'O3 — RAG Contract Analysis' }, null, 2) }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Content-Type", "value": "application/json" }
              ]
            }
          }
        },
        "id": "o3000000-0000-0000-0000-000000000008",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [1560, 300],
        "notes": "Returns full contract analysis to frontend:\n{ verdict, health_score, red_flags[], recommendations[], ftc_compliance }\nCORS headers allow any web frontend to call this endpoint."
      }
    ],
    "connections": {
      "Webhook — Analyse Contract": {
        "main": [[{ "node": "Set — Extract Contract Data", "type": "main", "index": 0 }]]
      },
      "Set — Extract Contract Data": {
        "main": [[{ "node": "Code — Analyse Contract (RAG Simulation)", "type": "main", "index": 0 }]]
      },
      "Code — Analyse Contract (RAG Simulation)": {
        "main": [[{ "node": "IF — Reject Contract?", "type": "main", "index": 0 }]]
      },
      "IF — Reject Contract?": {
        "main": [
          [{ "node": "Set — Urgent Reject Alert",  "type": "main", "index": 0 }],
          [{ "node": "Set — Review / Pass Report", "type": "main", "index": 0 }]
        ]
      },
      "Set — Urgent Reject Alert": {
        "main": [[{ "node": "Merge — All Results", "type": "main", "index": 0 }]]
      },
      "Set — Review / Pass Report": {
        "main": [[{ "node": "Merge — All Results", "type": "main", "index": 1 }]]
      },
      "Merge — All Results": {
        "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1"
    },
    "meta": { "templateCredsSetupCompleted": true }
  }
]
